body {
	background-color: #f5f5f5;
}

.heroBg::after {
	content: "";
	position: absolute;
	width: 100vw;
	height: 100vh;
	backdrop-filter: blur(60px);
}

.ticket {
	animation: wiggle 3s ease-in-out infinite;
}
@keyframes wiggle {
	0%,
	100% {
		transform: rotateY(0deg);
	}
	50% {
		transform: rotateY(180deg);
	}
}

.custom-checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px; /* Adjust as needed */
	width: 20px; /* Adjust as needed */
	background-color: transparent; /* Default background color */
	border: 1px solid #949494;
	border-radius: 4px; /* Optional: for rounded corners */
}

.custom-checkbox-container input:checked ~ .checkmark {
	background-color: #59168b; /* Background color when checked */
	border-color: #59168b;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.custom-checkbox-container input:checked ~ .checkmark:after {
	display: block;
	/* Style for the checkmark icon */
	left: 6px;
	top: 3px;
	width: 6px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}
