.heroBg::after {
	content: "";
	position: absolute;
	width: 100vw;
	height: 100vh;
	backdrop-filter: blur(60px);
}

.ticket {


  animation: wiggle 3s ease-in-out infinite;
}
  @keyframes wiggle {
    0%,
    100% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(180deg);
    }
  }